<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/gallery/css/front-min.css"/>
    <link rel="stylesheet" href="/gallery/css/ui-lib.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/gallery/css/settings.css"/>

</head>
<body wix-ui>

<div class="main-container">
    <div class="wrapAdmin">

    </div>
</div>



<script type="text/javascript" src="//static.parastorage.com/services/js-sdk/1.61.0/js/wix.min.js"></script>
<script src="/gallery/js/jquery-2.1.4.min.js"></script>
<script src="/gallery/js/ui-lib.min.js"></script>


<script type="text/template" class='tplAdminForm'>

    <div class="container">
<div class="col-md-7 col-sm-7 col-xs-7 left">
    <div class="imgs">
        <% _.each(tpl, function(admin){  %>
        <div class="col-md-6 col-sm-6 col-xs-6"><div class="item"><img src="<%= admin.src_big_img %>"/></div></div>
        <%});%>
    </div>
</div>
<div class="col-md-5 col-sm-5 col-xs-5 right">

    <div class="top">
        <button class="newImage uilib-btn btn-btn-green">Add a New Item</button>
    </div>

    <div class="row">
        <div class="label col-md-5 col-sm-5 col-xs-5">Title:</div>
        <div wix-model="myRow" wix-ctrl="Input" class="inputWrap col-md-7 col-sm-7 col-xs-7" wix-options="{placeholder: ''}"></div>
    </div>
    <div class="row">
        <div class="label col-md-5 col-sm-5 col-xs-5">Description:</div>
        <div wix-model="myRow" wix-ctrl="Input" class="inputWrap col-md-7 col-sm-7 col-xs-7" wix-options="{placeholder: ''}"></div>
    </div>
    <div class="row">
        <div class="label col-md-5 col-sm-5 col-xs-5">Mini-Description:</div>
        <div wix-model="myRow" wix-ctrl="Input" class="inputWrap col-md-7 col-sm-7 col-xs-7" wix-options="{placeholder: ''}"></div>
    </div>
    <div class="row">
        <div class="label col-md-5 col-sm-5 col-xs-5">Video-url:</div>
        <div wix-model="myRow" wix-ctrl="Input" class="inputWrap col-md-7 col-sm-7 col-xs-7" wix-options="{placeholder: ''}"></div>
    </div>
    <div class="row">
    <button class="btnApply uilib-btn btn-btn-green">Apply</button>
    </div>
</div>

    </div>
</script>


<script src="/gallery/js/underscore-min.js"></script>
<script src="/gallery/js/settings.js"></script>


</body>
</html>



