<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/gallery/css/front-min.css"/>
    <link rel="stylesheet" href="/gallery/css/ui-lib.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/gallery/css/settings.css"/>

</head>

<body>

<div class="main-container">

    <div wix-ctrl="Tabs" wix-options="{value:0}" style="margin: 0px">
        <ul>
            <li data-tab="tab0">
                <div>Manage items</div>
            </li>
            <li data-tab="tab1">
                <div>Settings</div>
            </li>
        </ul>
        <div class="tab-content">
            <div class="loader"></div>
            <div data-tab="tab0" class="tab-pane" id="first-tab">
                <div class="gallery-manager wrapAdmin">
                    <div class="container">
                        <div class="col-md-7 col-sm-7 col-xs-7 left">
                            <div class="imgs">

                            </div>
                        </div>

                        <div class="col-md-5 col-sm-5 col-xs-5 right">
                            <div class="top">
                                <button class="newImage uilib-btn btn-btn-green">Add a New Item</button>
                            </div>

                            <div class="edit-form">
                                <div class="row">
                                    <div class="label col-md-5 col-sm-5 col-xs-5">Title:</div>
                                    <div wix-model="title" wix-ctrl="Input"
                                         class="inputWrap title col-md-7 col-sm-7 col-xs-7"
                                         wix-options="{placeholder: ''}"></div>
                                </div>
                                <div class="row">
                                    <div class="label col-md-5 col-sm-5 col-xs-5">Description:</div>
                                    <div wix-model="desc" wix-ctrl="Input"
                                         class="inputWrap description col-md-7 col-sm-7 col-xs-7"
                                         wix-options="{placeholder: ''}"></div>
                                </div>
                                <div class="row">
                                    <div class="label col-md-5 col-sm-5 col-xs-5">Mini description:</div>
                                    <div wix-model="mDesc" wix-ctrl="Input"
                                         class="inputWrap mDescription col-md-7 col-sm-7 col-xs-7"
                                         wix-options="{placeholder: ''}"></div>
                                </div>
                                <div class="row">
                                    <div class="label col-md-5 col-sm-5 col-xs-5">Button name:</div>
                                    <div wix-model="bName" wix-ctrl="Input"
                                         class="inputWrap buttonName col-md-7 col-sm-7 col-xs-7"
                                         wix-options="{placeholder: ''}"></div>
                                </div>
                                <div class="row">
                                    <div class="label col-md-5 col-sm-5 col-xs-5">Video url:</div>
                                    <div wix-model="vUrl" wix-ctrl="Input"
                                         class="inputWrap videoUrl col-md-7 col-sm-7 col-xs-7"
                                         wix-options="{placeholder: ''}"></div>
                                </div>
                                <div class="row">
                                    <div class="label col-md-5 col-sm-5 col-xs-5">External url:</div>
                                    <div wix-model="eUrl" wix-ctrl="Input"
                                         class="inputWrap externalUrl col-md-7 col-sm-7 col-xs-7"
                                         wix-options="{placeholder: ''}"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6"><button class="btnDelete uilib-btn btn-btn-green">Delete</button></div>
                                    <div class="col-xs-6"><button class="btnApply uilib-btn btn-btn-green">Apply</button></div>
                                </div>
                                <div class="row bottom">
                                    <div class="image">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div data-tab="tab1" class="tab-pane">
                <div class="app-settings">
                    <div class="container">
                        <div class="row">
                            <div class="label col-xs-3">Auto play, sec:</div>
                            <div class="col-xs-5">
                                <div wix-model="autoPlay" wix-ctrl="Spinner"
                                     class="inputWrap autoPlay"
                                     wix-options="{minValue:0, maxValue:60, size: 'medium'}"></div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="label col-xs-3">Overlay color & opacity:</div>
                            <div class="col-xs-5">
                                <div wix-param="colorWOpacity" wix-ctrl="ColorPickerWithOpacity"
                                     wix-options="{startWithColor: 'color-5', startWithOpacity:0}"></div>
                            </div>
                        </div>

                        <div class="row"><h4>Text style</h4></div>

                        <div class="row">
                            <div class="label col-xs-3">Title font:</div>
                            <div class="col-xs-6">
                                <div wix-param="titleTextColor" wix-ctrl="ColorPicker"
                                     wix-options="{startWithColor:'color-1'}"></div>
                                <div wix-param="titleFontSize" wix-ctrl="FontStylePicker"
                                     wix-options="{ value: 'Heading-XL'}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label col-xs-3">Description font:</div>
                            <div class="col-xs-6">
                                <div wix-param="DescriptionTextColor" wix-ctrl="ColorPicker"
                                     wix-options="{startWithColor:'color-1'}"></div>
                                <div wix-param="DescriptionFontSize" wix-ctrl="FontStylePicker"
                                     wix-options="{ value: 'Heading-S'}"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="label col-xs-3">Thumbnail title font:</div>
                            <div class="col-xs-6">
                                <div wix-param="thumbTitleTextColor" wix-ctrl="ColorPicker"
                                     wix-options="{startWithColor:'color-1'}"></div>
                                <div wix-param="thumbTitleFontSize" wix-ctrl="FontStylePicker"
                                     wix-options="{ value: 'Heading-S'}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label col-xs-3">Thumbnail description font:</div>
                            <div class="col-xs-6">
                                <div wix-param="thumbDescriptionTextColor" wix-ctrl="ColorPicker"
                                     wix-options="{startWithColor:'color-1'}"></div>
                                <div wix-param="thumbDescriptionFontSize" wix-ctrl="FontStylePicker"
                                     wix-options="{ value: 'Heading-S'}"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="label col-xs-3">Text shadow:</div>
                            <div class="col-xs-6">
                                <div wix-param="TextShadowColor" wix-ctrl="ColorPicker"
                                     wix-options="{startWithColor: 'color-3'}"></div>
                                <div wix-param="SpinnerShadowRL" wix-ctrl="Spinner"
                                     wix-options="{ startWithMargin:0, minValue:0, maxValue:90 }"></div>
                                <div wix-param="SpinnerShadowTB" wix-ctrl="Spinner"
                                     wix-options="{ startWithMargin:0, minValue:0, maxValue:90 }"></div>
                                <div wix-param="SpinnerShadow" wix-ctrl="Spinner"
                                     wix-options="{ startWithMargin:0, minValue:0, maxValue:90 }"></div>
                            </div>
                        </div>

                        <div class="row">
                            <br/>
                            <div class="col-xs-6 col-xs-offset-3">
                                <button class="btnApplySettings uilib-btn">Apply</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/template" class='tpl-admin-slides'>
    <% _.each(items, function(item){ %>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="item" data-wix-item-id="<%= item.id %>">
            <img src="<%= item.src_small_img %>">

            <div class="title"><%= item.title %></div>
        </div>
    </div>
    <%});%>
</script>


<script src="/gallery/js/jquery-2.1.4.min.js"></script>
<script src="/gallery/js/lodash.min.js"></script>
<script src="/gallery/js/simple-collections.js"></script>
<script src="/gallery/js/jquery-ui.js"></script>
<script src="/gallery/js/bower_components/wixmedia/dist/wixmedia.min.js"></script>
<script type="text/javascript" src="//static.parastorage.com/services/js-sdk/1.61.0/js/wix.min.js"></script>
<script src="/gallery/js/ui-lib.min.js"></script>
<script src="/gallery/js/settings.js"></script>


</body>
</html>



