<script type="text/template" class="tplAppSettings">
    <ul>

        <li wix-label="Gallery Margin:" class="container2">
            <div class="margin-control" wix-param="SpinnerMargin" wix-ctrl="Spinner"
                 wix-options="{ startWithMargin:5, minValue:0, maxValue:90 }"></div>
        </li>

        <li wix-label="Title Font Size + Color:" class="container2">
            <div wix-param="titleTextColor" wix-ctrl="ColorPicker" wix-options="{startWithColor:'color-1'}"></div>
            <div wix-param="titleFontSize" wix-ctrl="Spinner"
                 wix-options="{ maxValue:500, value: 0, size: 'large' }"></div>
        </li>

        <li wix-label="Description Font Size + Color:" class="container2">
            <div wix-param="DescriptionTextColor" wix-ctrl="ColorPicker" wix-options="{startWithColor:'color-1'}"></div>
            <div wix-param="DescriptionFontSize" wix-ctrl="Spinner"
                 wix-options="{ maxValue:500, value: 0, size: 'large' }"></div>
        </li>

        <li wix-label="Text Shadow:" class="container2">
            <div wix-param="TextShadowColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-3'}"></div>
            <div wix-param="SpinnerShadowRL" wix-ctrl="Spinner"
                 wix-options="{ startWithMargin:0, minValue:0, maxValue:90 }"></div>
            <div wix-param="SpinnerShadowTB" wix-ctrl="Spinner"
                 wix-options="{ startWithMargin:0, minValue:0, maxValue:90 }"></div>
        </li>
    </ul>
</script>